body{
    background-color: rgb(188, 70, 70);
}

.titre{
    text-align: center;
    margin: 4rem;
    font-size: 4rem;
}
.section{
    background-color: white;
    border-radius: 21px;
    margin: 1.5rem;
    padding: 1rem;
}
.sous-titre{
    margin: 1rem;
}
.paragraphe{
margin: 1rem;
}
.images{
    border-radius: 21px;
    display: block;
     margin: 2rem auto; /* espace vertical + centrage horizontal */
    max-width: 100%;
    height: auto;

}